{% extends 'layout.html' %}
{% load filters %}
{% block title %} Formularios en Django {% endblock %}

{% block content %}

<h1 class="title">Formularios en Django</h1>

<form action="{% url 'save' %}" method="GET">
    <label for="titulo">Título</label>
    <input type="text" id="titulo" name="titulo" placeholder="Ingresa el título">

    <label for="contenido">Contenido</label>
    <textarea id="contenido" name="contenido" rows="4"></textarea>

    <label for="publicado">¿Publicado?</label>
    <select id="publicado" name="publicado">
        <option value="1">Si</option>
        <option value="0">No</option>
    </select>

    <input type="submit" value="Guardar">
</form>

{% endblock %}