<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
</head>

<body>
    <!-- Cabecera de la pagina -->
    <header>
        <div id="logotipo">
            <!-- Logo django -->
            <img src="{% static 'images/logo.png' %}" />
            <h1>Sitio web con Django</h1>
        </div>
    </header>

    <nav>
        <ul>
            <li>
                <a href="{% url 'inicio' %}">Inicio</a>
            </li>
            <li>
                <a href="{% url 'articulos' %}">Artículos</a>
            </li>
            <li>
                <a href="{% url 'create' %}">Crear artículo</a>
            </li>
            <li>
                <a href="{% url 'create_full' %}">Crear artículo 2</a>
            </li>
            <li>
                <a href="{% url 'hola_mundo' %}">Hola Mundo</a>
            </li>
            <li>
                <a href="{% url 'pagina_pruebas' %}">Página de pruebas</a>
            </li>
            <li>
                <a href="{% url 'contacto' nombre='Cristhian' apellidos='Mayuri' %}">Contacto</a>
            </li>
        </ul>
    </nav>
    <div class="barra">
        <span class="esquina-izquierda"></span>
        <span class="relleno-barra"></span>
        <span class="esquina-derecha"></span>
    </div>

    <div id="content">
        <div class="box">
            {% block content %}
                <!--Codigo que viene de templates-->
                <strong>Contenido del bloque original!!</strong>
            {% endblock %}
        </div>
    </div>

    <footer>
        Master en Python &copy; Cristhian Mayuri - {% now "d/m/Y" %}
    </footer>
</body>

</html>